body{
  padding-top: 60px;
}
.card{
  border-radius: 6px;
  padding: 12px;
  border:0.5px solid grey;
}

.card img{
  width: 100px;
}

.navbar{
  padding-left: 12px !important;
  padding-right: 12px !important;
  display: flex;
  z-index: 100 !important;
  justify-content: space-between;
  position: fixed;
  top: 0px !important;
  width: 98%;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2) !important;
}

.counter{
  background-color: red !important;
  color: #fff !important;
  width: 18px !important;
  height: 18px !important;
  position: absolute;
 margin-top: -8px;
 margin-left: 8px;
  font-size: 13px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cartCard{
  border-radius: 6px;
  padding: 12px;
  border:0.5px solid grey;
  width: 300px !important;
}
.cartCard img{
  width: 100px !important;
}

.cartGrid{
  padding: 15px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 5% !important;
}